# Node/Vite build and dependencies
node_modules/
dist/
release/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
